<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Invoice</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="container">
    <h2>Invoice #<%= inv.id %></h2>
    <p><b>Amount:</b> ₹<%= inv.amount %></p>
    <p><b>Note:</b> <%= inv.note %></p>

    <hr />
    <a href="/me">Back</a>
  </div>
</body>
</html>
